@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color-green : #B9FF66 ;
    --primary-color-dark : #191A23 ;
    --primary-color-light : #F3F3F3 ;
    --heading1 : 3.75rem ;
    --heading2 : 2.5rem ;
    --heading3 : 1.875rem ;
    --heading4 : 1.25rem ;
    --para : 1.125rem ;
    --h1mob : 2.6875rem ;
    --h2mob : 2.25rem ;
    --h3mob : 1.625rem ;
    --h4mob : 1.125rem ;
    --paramob : 1rem;
    --maxwidth : 1440px ;
    --regular : 400;
    --medium : 600;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    max-width: var(--maxwidth);
    margin: auto;
}

.navbar {
    height: 4.25rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
    gap: 2.625rem;
    text-decoration: none;
    list-style: none;
    font-weight: var(--regular);
}

.menu ul a{
    text-decoration: none;
    color: var(--primary-color-dark);
    font-weight: var(--regular);
    font-size: 1.1rem;
}

.menu-btn {
    background-color: white;
    border-radius: 0.875rem;
    border: 2px solid #191A23;
    font-size: 14px;
    padding: 0.625rem 1.5625rem;
    margin-left: 30px;
    font-family: 'Space Grotesk',sans-serif;
    font-weight: 500;
}

.section-container {
    max-width: var(--maxwidth);
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
    padding: 0px 100px;
    margin-top: 70px;
}
 
.section-content {
    flex: 1;
    margin: auto;
}

.section-heading{
    font-size: var(--heading1);
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
    line-height: auto;
}

.section-desc{
    font-size: var(--heading4);
    line-height: 28px;
    margin: 0;
    margin-bottom: 30px;
}

.btn-black {
    padding: 20px 35px;
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;

}

.section-img {
    flex: 1;
    margin: 0;
}

.section-img img{
    width: auto;
    height: 515px;
}

.logotypes-container {
    max-width: var(--maxwidth);
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 70px;
}

.logotypes img {
    width: 100%;
    height: auto;
    margin: auto;
    filter: saturate(0%);
}